body {
    background: #A5D6A7;
}

h1 {
    text-align: center;
    margin-top: 300px;
}

p {
    text-align: center;
    font-size: 25px;
}

img {
    border: 2px dashed #DD2C00;
    width: 300px;
    height: 200px;
}